body {
	height: 100%;
}

.contact {
	background-color: #E6E7EB;
	padding: 2rem 2rem;
	margin-bottom: 4rem;
}

.contact .hero {
	padding: 50px 20px;
	text-align: center;
	color: #1F2937;
}

.contact .hero p {
	opacity:50%;
	margin-top: 0.5rem;
}

.contact .form-wrapper {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.contact label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
	color: #1F2937;
}

.contact input, textarea, select  {
	font-family: 'Roboto', sans-serif;
	display: flex;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box
}

.contact button {
	width: 100%;
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 4px;
	background-color: #3782F6;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
}

.contact .contact-form {
	width: 40%;
}

.contact .contact-form p {
	margin: 2rem 0
}

@media (max-width: 768px) {
	.contact .hero {
		padding: 20px 10px;
		text-align: center;
		color: #1F2937;
	}
	.contact .contact-form {
		width: 100%;
	}
}

.contact .information {
	color: #ffffff;
	margin-left: 20px;
	font-size: 16px;
	/* margin: 0 auto;
    width: 50%; */
	list-style: none;
}

.contact .information li {
	margin-bottom: 10px;
}

.map {
	background-color: #E6E7EB;
	padding: 20px 20px;
	border-top: 1px solid #ffffff46;
}

/* Base */
/* .header-logo {
	font-size: 24px;
}

.information-header {
	font-size: 36px;
	font-weight: bold;
} */
