/* reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(./fonts/Roboto/Roboto-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Roboto Bold";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Extra Bold";
  src: url(./fonts/Roboto/Roboto-Black.ttf);
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}

hr {
  margin: 1rem 0;
  width: 100%;
}

section {
  padding: 3rem 0;
}

section .title {
  font-size: 36px;
  text-align: center;
  color: #1f2937;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  section {
    padding: 1.5rem 0;
  }

  section .title {
    font-size: 22px;
  }
}

.container {
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
.navbar {
  background-color: #1f2837;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

header {
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 60px;
}

.navbar-nav {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand {
  color: #f9faf8;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    font-size: 24px;
  }
}

.team {
  color: red;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item:hover {
  opacity: 0.6;
}

.nav-item .nav-link.active {
  border-bottom: 2px solid #fff;
}

.nav-link {
  color: #e5e7eb;
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 18px;
  }
}

.nav-link.btn {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #3782f6;
  white-space: nowrap;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sign-up {
  padding: 0.75rem;
  background-color: #3882f6;
  color: #fff;
  border: none;
  margin-top: 1rem;
  border-radius: 5px;
}

/* End Header */

/* Footer */
footer {
  background-color: #1f2837;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #e5e7eb;
}

.footer-box {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.short-link>a,
.social-icons>a {
  color: #fff;
  margin-right: 5px;
}

.short-link>a:hover {
  color: #f6046c;
}

.copyright {
  text-align: center;
  flex: auto;
}

/* End Footer */

/* Hero (main section 1) */
.hero {
  background-color: #1f2937;
  padding: 3rem 2rem;
}

.flex-container.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 100px; */
  gap: 20px;
}

.hero-content {
  flex-basis: 50%;
}

.hero-img {
  flex-basis: 50%;
  width: 100%;
  height: 300px;
  margin: 30px;
  object-fit: cover;
  margin: 0px;
  border-radius: 10px 5px;
}

@media (max-width: 768px) {
  .hero {
    padding: 1.5rem 1rem;
  }

  .flex-container.section1 {
    flex-wrap: wrap;
  }

  .hero-content {
    flex-basis: 100%;
    font-size: 20px
  }

  .hero-img {
    flex-basis: 100%;
    margin: 2rem 0;
  }

  .hero-content h4 {
    font-size: 30px;
    margin-bottom: 1rem;
  }

}

.hero-content h4 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  margin-bottom: 2rem;
}

.hero-content p {
  font-size: 18px;
  color: #E5E7EB;
}

/* End Hero */

/* Featured Recipes */
.flex-container.section2 {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.second-section {
  flex-basis: min-content;
  /* margin: 30px;
  margin-left: 6em; */
}


.second-section h1 {
  /* margin-left: 20px; */
  text-align: center;
}

.second-section p {
  margin-left: 5px;
}

.second-section img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px 5px;
}

/* End Featured Recipes */


/* Quote */
.quote-box {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 5rem 10rem;
}

.quote-text {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
  font-size: 36px;
  font-family: 'Roboto Light', sans-serif;
}

@media (max-width: 768px) {
  .quote-box {
    padding: 2rem 1.5rem;
  }

  .quote-text {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .quote-box {
    padding: 2.5rem 5rem;
  }

  .quote-text {
    font-size: 20px;
  }
}

.author {
  text-align: right;
  margin-top: 10px;
}

/* End Quote */

/* Newsletter */
.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 2rem 2.5rem;
  border-radius: 0.4rem;
}

.newsletter p {
  font-size: 18px;
  color: #fff;
}

.newsletter button {
  padding: 0.75rem;
  border: 1px solid #ffffff;
  background-color: #3882f6;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

/* End Newsletter */

/* Suggest Recipe */
.suggest-recipe {
  background-color: #E6E7EB;
  padding: 2rem 2rem;
  margin-bottom: 4rem;
}

.suggest-recipe-hero {
  padding: 50px 20px;
  text-align: center;
  color: #1F2937;
}

.suggest-recipe-hero p {
  opacity: 50%;
  margin-top: 0.5rem;
}

.suggest-recipe .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggest-recipe label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #1F2937;
}

.suggest-recipe input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}

.suggest-recipe button {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #3782F6;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}

.suggest-recipe .suggest-recipe-form {
  width: 40%;
}

.suggest-recipe .suggest-recipe-form p {
  margin: 2rem 0
}

@media (max-width: 768px) {
  .suggest-recipe-hero {
    padding: 20px 10px;
    text-align: center;
    color: #1F2937;
  }

  .suggest-recipe .suggest-recipe-form {
    width: 100%;
  }
}

.suggest-recipe .information {
  color: #ffffff;
  margin-left: 20px;
  font-size: 16px;
  list-style: none;
}

.suggest-recipe .information li {
  margin-bottom: 10px;
}

/* End Suggest Recipe */


/* Main Recipe */
.main-recipe {
  margin: 3rem auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 2;
  font-size: 18px;
}

.main-recipe img {
  margin: 1rem 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.4rem;
}

.recipe-info {
  display: inline-flex;
  padding: 1rem 0.5rem;
}

.recipe-info li {
  padding-right: 1rem;
}