/* reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}

.navbar {
  background-color: #1f2837;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

header {
  margin-bottom: 60px;
}

.container {
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 60px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .nav-link {
    font-size: 14px;
  }
  .quote-text {
    font-size: 24px;
  }
  .info {
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .nav-link {
    font-size: 18px;
  }
  .quote-text {
    font-size: 36px;
  }
  .info {
    font-size: 22px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.navbar-nav {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand {
  color: #f9faf8;
}

.team {
  color: red;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:hover {
  border-bottom: 2px solid #fff;
}

.nav-link {
  color: #e5e7eb;
}

.nav-link.btn {
  padding: 8px 12px;
  /* font-size: 14px; */
  border-radius: 4px;
  background-color: #3782f6;
}

.quote-section {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.quote-box {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 5rem 10rem;
}

.quote-text {
  text-align: center;
  font-style: light italic;
  color: #1f2937;
}

.user {
  align-self: flex-end;
  margin-top: 10px;
}

hr {
  margin: 1rem 0;
  width: 100%;
}

.info {
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sign-up {
  padding: 0.75rem;
  background-color: #3882f6;
  color: #fff;
  border: none;
  margin-top: 1rem;
  border-radius: 5px;
}

footer {
  background-color: #1f2837;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #e5e7eb;
}

.footer-box {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.short-link > a,
.social-icons > a {
  color: #fff;
  margin-right: 5px;
}

.short-link > a:hover {
  color: #f6046c;
}

.fa-youtube:hover {
  color: red;
}

.fa-facebook:hover {
  color: #3882f6;
}
.fa-linkedin:hover {
  color: #3882f6;
}
.fa-instagram:hover {
  color: #f6046c;
}

/* main section 1 */

.flex-container.section1 {
  display: flex;
  background-color: rgb(10, 10, 26);
}

h4.hero.main {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 3rem;
}

p.hero.second {
  font-size: 18p;
  color: #e5e7eb;
  margin: 3rem;
}

.hero.img {
  height: 300px;
  margin: 30px;
}

/* section 2 */

.flex-container.section2 {
  display: flex;
  background-color: #3882f6;
}

.second.section {
  margin: 30px;
  margin-left: 6em;
}

h1.second.section {
  margin-left: 20px;
  text-align: center;
}

p.second.section {
  margin-left: 5px;
}

img.section.\32 {
  height: 150px;
  width: 220px;
}
