@font-face {
	font-family: 'Roboto';
	src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

body {
	font-family: 'Roboto', sans-serif ;
	margin: 25px;
	background-color: rgb(240,240,240);
	font-size: 14px;
}